---

title: Home
headerimg: uNns9ce

---

<!DOCTYPE html>
<html lang="en">
  <head>
	   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
       <title>DCM Works - {{ page.title }}</title>
	   <script type="text/javascript">{% include jquery.min.js %}</script>
       {% include fonts.html %}
	<script>
	{% include scroll.js %}
	</script>
	<style type="text/css">
	{% include page.css %}
	</style>
 </head> 
	
<body>
   
<header id="header">
<div class="content">
<div id="logo"><a href="{{ site.baseurl }}" class="active"> DCMWORKS - Home</div>
<nav id="nav">
	<ul>
		<li><a href="http://dcmworks.co.uk/novels/necessityofhendricks/1/" title="Works">Works</a></li>
		<li><a href="http://dcmworks.co.uk/art" title="Art">Art</a></li>
		<li><a href="http://dcmworks.co.uk/lore" title="Lore">Lore</a></li>
		<li><a href="http://dcmworks.co.uk/downloads" title="Downloads">Downloads</a></li>
		<li><a href="http://dcmworks.co.uk/about" title="About">About</a></li>
		<li><a href="http://dcmworks.co.uk/contact" title="Contact">Contact</a></li>
	</ul>
</nav>
</div>
</header>	
<body>

	<div id="slide1">
	{% if page.headerimg %}

	{% endif %}
	</div>

	<div id="newsfeed">
	{% for newsfeed in site.data.newsfeed %}
		<div id="newsitem" class="content">
            <h2>{{ newsfeed.lead }}</h2>
		    <div class="paragraph"><p>{{ newsfeed.body }}</p></div>
		    {% if newsfeed.link %}<p><a href="http://dcmworks.co.uk/{{ newsfeed.link }}">{{ newsfeed.linktitle }}</a></p>{% endif %}
		</div>
	{% endfor %}
    </div> 

	<div id="footer">
		<div id="copyright"><a href="http://dcmworks.co.uk/">Copyright DCMWorks</a></div> 
	</div>
</body>
</html>
