<!DOCTYPE html>
<html lang="en">
  <head>
	   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
       <title>DCM Works - {{ page.title }}</title>
	   <script type="text/javascript">{% include jquery.min.js %}</script>
       {% include fonts.html %}
	<script>
	{% include scroll.js %}
	</script>
	<style type="text/css">
	{% include page.css %}
	</style>
 </head> 
	
<body>
   
<header id="header">
<div class="content">
<div id="logo"><a href="{{ site.baseurl }}" class="active"> DCMWORKS - Home</div>
<nav id="nav">
	<ul>
		<li><a href="http://dcmworks.co.uk/novels" title="Novels" >Novels</a></li>
		<li><a href="http://dcmworks.co.uk/art" title="Art">Art</a></li>
		<li><a href="http://dcmworks.co.uk/lore" title="Lore">Lore</a></li>
		<li><a href="http://dcmworks.co.uk/merch" title="Merch">Merch</a></li>
		<li><a href="http://dcmworks.co.uk/about" title="About">About</a></li>
		<li><a href="http://dcmworks.co.uk/contact" title="Contact">Contact</a></li>
	</ul>
</nav>
</div>
</header>	
<body>

	<div id="newsfeed">
	{% for member in site.data.newsfeed %}
		<div id="newsitem" class="content">
            <h2>{{ member.title }}</h2>
		    <p>{{ member.body }}</p>
		    {% if member.img %}<p>{{ member.img }}</p>{% endif %}
		    {% if member.link %}<p><a href="http://dcmworks.co.uk/{{ member.link }}">{{ member.linktitle }}</a></p>{% endif %}
		</div>
	{% endfor %}
    </div> 

	<div id="footer">
		<div id="copyright"><a href="http://dcmworks.co.uk/">Copyright DCMWorks</a></div> 
	</div>

</body>
</html>
