<!DOCTYPE html>
<html lang="en">
  <head>
	   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
       <title>DCM Works - {{ page.title }}</title>
	   <script type="text/javascript">{% include jquery.min.js %}</script>
       {% include fonts.html %}
	<script>
	{% include scroll.js %}
	</script>
	<style type="text/css">
	{% include chapter.css %}
	</style>
 </head> 
	
<body>

<div id="chapter_nav">
{% if page.backward %}
<a href="{{ page.backward }}" class="lpanel">  BACK A CHAPTER </a>
{% endif %}
<a href="" class="lpanel"> 1 </a>
<a href="http://dcmworks.co.uk/novels/pokemonovel/{{ page.forward }}/" class="lpanel"> FORWARD A CHAPTER  </a>
</div>

   
<header id="header">
<div class="content">
<div id="logo"><a href="{{ site.url }}"> DCMWORKS - {{ page.noveltitle }}</div>

<nav id="nav">
	<ul>
		<li><a href="#slide1" class="active" title="Next Section" >I.</a></li>
		<li><a href="#slide2" title="Next Section">II.</a></li>
		<li><a href="#slide3" title="Next Section">III.</a></li>
		<li><a href="#slide4" title="Next Section">IV.</a></li>
		<li><a href="#slide5" title="Next Section">V.</a></li>
	</ul>
</nav>
</div>
</header>	
  	
	<div id="slide1">
		<div id="title" class="content">
            <h2>{{ page.chapternumber }}</h2>
		    <h1>{{ page.title }}</h1>
		</div> 
    </div> 

	<div id="slide2">
		<div class="content">
			<div class="quotes_container"><div class="soundcloud">
		       <iframe width="100%" height="140" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ page.soundcloudnum }}&amp;auto_play=false&amp;hide_related=false&amp;visual=true"></iframe></div>
		    </div> 
		</div> 
    </div>

    {% if page.content %}
	<div id="slide3">
		<div class="content" >
            <div class="paragraph">
		    {{ page.content }}
		</div> 
		</div> 
    </div> 
    {% endif %}
	
	{% if page.footerimg %}
	<div id="slide4">
		<div class="content">
              <div class="quotes_container">
		    <h3 class="p">“Christmas doesn't come from a store, maybe Christmas perhaps means a little bit more....” </h3>
		  <img src="_img/dr-seuss.png" align="left"/> <h4 class="author_name_gray">Dr. Seuss </h4>
		</div> 
		</div> 
    </div>
    {% endif %}

	<div id="footer">
		<div id="copyright"><a href="http://dcmworks.co.uk/">Copyright DCMWorks</a><br />{{ page.trademarks }}</div> 
	</div>

</body>
</html>
