<!DOCTYPE html>
<html lang="en">
  <head>
	   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
       <title>DCM Works - {{ page.title }}</title>
       <link rel="stylesheet" href="../_css/style.css"/>
	   <script type="text/javascript" src="../_js/jquery-1.10.2.min.js"></script>
       <link href='http://fonts.googleapis.com/css?family=Wellfleet' rel='stylesheet' type='text/css'>
	   <link href='http://fonts.googleapis.com/css?family=Wellfleet' rel='stylesheet' type='text/css'>
	   <link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>	
	   <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	   <link href='http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911' rel='stylesheet' type='text/css'>
	<script>

$(document).ready(function() {
  $('a[href*=#]').each(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
    && location.hostname == this.hostname
    && this.hash.replace(/#/,'') ) {
      var $targetId = $(this.hash), $targetAnchor = $('[name=' + this.hash.slice(1) +']');
      var $target = $targetId.length ? $targetId : $targetAnchor.length ? $targetAnchor : false;
       if ($target) {
         var targetOffset = $target.offset().top;
   
         $(this).click(function() {
            $("#nav li a").removeClass("active");
            $(this).addClass('active');
           $('html, body').animate({scrollTop: targetOffset}, 1000);
           return false;
         });
      }
    }
  });

});

</script>


 </head> 
	
<body>
 
<div id="chapter_nav">
<a href="{{ paginator.previous_page }}" class="lpanel">  BACK A CHAPTER </a>
<a href="" class="lpanel"> {{ paginator.page }} </a>
<a href="{{ page.next }}" class="lpanel"> FORWARD A CHAPTER  </a>
</div>

   
<header id="header">
<div class="content">
<div id="logo"><a href="{{ site.url }}"> DCMWORKS - {{ page.noveltitle }}</div>

<nav id="nav">
	<ul>
		<li><a href="#slide1" class="active" title="Next Section" >I.</a></li>
		<li><a href="#slide2" title="Next Section">II.</a></li>
		<li><a href="#slide3" title="Next Section">III.</a></li>
		<li><a  href="#slide4" title="Next Section">IV.</a></li>
		<li><a href="#slide5" title="Next Section">V.</a></li>
	</ul>
</nav>
</div>
</header>	
  	
	<div id="slide1">
		<div id="title" class="content">
            <h2>{{ page.chapternumber }}</h2>
		    <h1>{{ page.title }}</h1>
		</div> 
    </div> 

	<div id="slide2">
		<div class="content">
			<div class="quotes_container"><div class="soundcloud">
		       <iframe width="100%" height="140" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ soundcloudnum }}&amp;auto_play=false&amp;hide_related=false&amp;visual=true"></iframe></div>
		    </div> 
		</div> 
    </div> 

	<div id="slide3">
		<div class="content" >
            <div class="quotes_container">
		    <h3 class="p">{{ page.content }}</h3>
		</div> 
		</div> 
    </div> 
	
	<div id="slide4">
		<div class="content">
              <div class="quotes_container">
		    <h3 class="p">“Christmas doesn't come from a store, maybe Christmas perhaps means a little bit more....” </h3>
		  <img src="_img/dr-seuss.png" align="left"/> <h4 class="author_name_gray">Dr. Seuss </h4>
		</div> 
		</div> 
    </div> 

	<div id="footer">
		<div id="copyright"><a href="http://dcmworks.co.uk/">Copyright DCMWorks</a><br />{{ page.trademarks }}</div> 
	</div>

</body>
</html>
